<% content_for :title, "Free Content" %>

<div class="containert mt-4">
  <div class="row">
    <div class="col-md-8 mx-auto text-center">
      <h1 class="d-hotwire-native-none my-4">Free Content</h1>
      <p class="lead">This content is available to everyone.</p>
    </div>
  </div>
</div>
