<% content_for :title, "Paid Content" %>

<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto text-center">
      <h1 class="d-hotwire-native-none my-4">Paid Content</h1>
      <p class="lead">This content requires a subscription.</p>
      <div class="alert alert-success col-lg-8 mx-auto">
        <i class="bi bi-check-circle-fill me-1"></i> You have access!
      </div>
    </div>
  </div>
</div>
